<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksmart.project.test26.mapper.CountryMapper">

	<!-- select list-->
	<select id="selectCountryList"
			parameterType="java.util.Map"
			resultType="ksmart.project.test26.service.Country">
		SELECT
			country_id as countryId
			,country_name as countryName
		FROM country
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<!-- select search list -->
	<select id="selectCountrySearchList"
		resultType="ksmart.project.test26.service.Country"
		parameterType="java.util.Map">
		SELECT
			country_id as countryId
			,country_name as countryName
		FROM test.country
		<include refid="search"></include>
		<!-- WHERE절을 include 태그로 삽입 -->
	</select>
		
	<!-- select count -->
	<select id="getCountryCount"
			resultType="int">
		SELECT COUNT(*) FROM country
	</select>
		
	<!-- select count by search-->
	<select id="getCountryCountBySearch"
			resultType="int">
		SELECT COUNT(*) FROM country
		<include refid="search"></include>
	</select>
	
	<!-- sql code parts
		 -반복되는 sql의 일부를 sql태그를 이용하여 따로 뺄 수 있다. -->
	<sql id = "search">
		<choose>
		<!-- 전체 검색 -->
		<when test="searchOption == 'all'">		
			<!-- searchOption이 all일 때 -->
			WHERE country_name LIKE CONCAT('%',#{keyword},'%')
			<!-- name이 keyword와 같을 때 (keyword의 기본값은 "":공백) -->
		</when>
		<!-- 부분 검색 -->
		<otherwise>
			WHERE #{searchOption} LIKE CONCAT('%',#{keyword},'%')
			<!-- 검색 조건이 keyword와 같을 때, 검색조건(기본값country_name)과 keyword에 값 부여(ex:나라이름) -->
		</otherwise>
		</choose>
	</sql>
	
	<!-- select -->
	<select id="selectCountryById"
			parameterType="int"
			resultType="ksmart.project.test26.service.Country">
		SELECT
			country_id as countryId
			,country_name as countryName
		FROM country
		WHERE country_id = #{countryId}
	</select>
	
	<!-- insert -->	
	<insert id="insertCountry"
			parameterType="ksmart.project.test26.service.Country">
		INSERT INTO country(
			country_name)
		VALUES (
			#{countryName}
		)
	</insert>

	<!-- update -->
	<update id="updateCountry"
			parameterType="ksmart.project.test26.service.Country">
		UPDATE country
			SET country_name = #{countryName}
		WHERE country_id = #{countryId}
	</update>

	<!-- delete -->
	<delete id="deleteCountry"
			parameterType="ksmart.project.test26.service.Country">
		DELETE
		FROM country
		WHERE country_id = #{countryId}
	</delete>

</mapper>