<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ksmart.project.test26.service.companyMapper">
	<select id="selectCompany" resultType="ksmart.project.test26.service.Company">
		SELECT company_id as companyId, company_name as companyName FROM company;
	</select>
</mapper>