<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksmart.project.test26.service.companyMapper">

	<!-- select list-->
	<select id="selectCompany"
			resultType="ksmart.project.test26.service.Company">
		SELECT
			company_id as companyId
			, company_name as companyName
		FROM company;
	</select>

	<!-- select -->
	<select id="selectCompanyOne"
			parameterType="int"
			resultType="ksmart.project.test26.service.Company">
		SELECT
			company_id as companyId
			, company_name as companyName
		FROM company
		WHERE company_id = #{companyId};
	</select>

	<!-- insert -->
	<insert id="insertCompany"
			parameterType="ksmart.project.test26.service.Company">
		INSERT INTO company(
			company_name)
		VALUES (
			#{companyName}
		)
	</insert>

	<!-- update -->
	<update id="updateCompany"
			parameterType="ksmart.project.test26.service.Company">
		UPDATE company
			SET company_name = #{companyName}
		WHERE company_id = #{companyId}
	</update>
	
	<!-- delete -->
	<delete id="deleteCompany"
			parameterType="ksmart.project.test26.service.Company">
		DELETE
		FROM company
		WHERE company_id = #{companyId}
	</delete>
	
</mapper>