<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- select --> 
<mapper namespace="ksmart.project.test26.service.idolMapper">
	<select id="selectIdolList" resultType="ksmart.project.test26.service.Idol">
		SELECT idol_id as idolId, idol_name as idolName FROM idol
	</select>
<!-- /select -->
<!-- delete -->
	<delete id="deleteIdol" parameterType="ksmart.project.test26.service.Idol">
		DELETE FROM idol WHERE idol_id = #{idolId}
	</delete>
<!-- /delete -->

<!-- insert -->
	<insert id="insertIdol" parameterType="ksmart.project.test26.service.Idol">
		INSERT INTO idol(idol_name)VALUES(#{idolName})
	</insert>
<!-- /insert -->

<!-- update -->
	<update id="updateIdol" parameterType="ksmart.project.test26.service.Idol">
		UPDATE idol SET idol_name = #{idolName} WHERE idol_Id = #{idolId}
	</update>
<!-- /update -->

<!-- select -->	
	<select id="getIdol" resultType="ksmart.project.test26.service.Idol">
		SELECT idol_id as idol_id, idol_name as idol_name FROM idol WHERE idol_id = #{idolId}
	</select>
<!-- /select -->

	
</mapper>


