@charset "UTF-8";
/* home.jsp */
h1 {
	width: 100px;
	height: 40px;
	margin: 0 auto;
	}
.animalImg {
	width: 700px;
	height: 150px;
	margin: 0 auto;
	}
.homeimg {
	width : 150px;
	height: 150px;
	}
/* 전체파일 */
.homeicon {
		padding-top: 14px;
	}