@charset "UTF-8";
/* home.jsp */
h1 {
	width: 100px;
	height: 40px;
	margin: 20px auto;
}
.animalImg {
	width: 700px;
	height: 150px;
	margin: 0 auto;
}
.homeimg {
	width : 150px;
	height: 150px;
}
.logInOut {
	float: right;
}
/* 전체파일 */
.homeicon {
	padding-top: 14px;
}
/* footer.jsp */
.logoImg {
	width : 147.5px;
	height: 32.5px;
	display: block;
	margin: 0 auto;
}
.copyLight {
	width: 280px;
	height: 20px;
	display: block;
	margin: 0 auto;
}